---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

import { File, FileEdit, Plus } from '@/components/icons'
import { Button } from '@/components/ui/button'
import { collections as collectionSchema } from '@/content/config'
import DashboardLayout from '@/layouts/dashboard.astro'

export const getStaticPaths = (() => {
  const collections = Object.keys(collectionSchema) as Array<
    keyof typeof collectionSchema
  >
  return collections.map((collection) => {
    return {
      params: {
        collection
      }
    }
  })
}) satisfies GetStaticPaths

const { collection } = Astro.params
const collectionItems = await getCollection(collection)
---

<DashboardLayout>
  <h2 class='text-xl' slot='header'>{collection}</h2>
  <Button slot='header'>
    Create New <Plus class='ml-4 h-4 w-4' />
  </Button>
  <div class='flex flex-col rounded-md bg-background text-foreground'>
    {
      collectionItems.map((item) => (
        <a
          href={`/admin/${collection}/${item.slug}`}
          class='group flex items-center border border-t-0 px-4 py-2 first:rounded-t-md first:border-t last:rounded-b-md'
        >
          <File class='mr-2 h-4 w-4 group-hover:hidden' />
          <FileEdit class='mr-2 hidden h-4 w-4 group-hover:block' />
          <div class='grid grow grid-flow-col-dense grid-cols-6 grid-rows-2 text-xs'>
            <span class='uppercase text-muted-foreground'>filename</span>
            <span class='underline-offset-4 group-hover:underline'>
              {item.id}
            </span>
            <span class='uppercase text-muted-foreground'>slug</span>
            <span>{item.slug}</span>
            <span class='uppercase text-muted-foreground'>title</span>
            <span>{item.data.title}</span>
            <span class='col-span-3 uppercase text-muted-foreground'>
              description
            </span>
            <span class='col-span-3'>{item.data.description}</span>
          </div>
        </a>
      ))
    }
  </div>
</DashboardLayout>
